
@font-face {
    font-family:"Manrope ExtraLight";
    src:url("Manrope-VariableFont_wght.woff2") format("woff2"),url("Manrope-VariableFont_wght.woff") format("woff"),url("Manrope-VariableFont_wght.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        