/*=================================================
=                   Annyversary                   =
=================================================*/
.anniversary {
	width: 100%;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	user-select: none;
	box-sizing: border-box;
	//opacity: 0;
	//display: none;
	z-index: 10;

	&--2025 {
		display: block;
		background-color: #e6e6d2 !important;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}

	/* NY Year
	-------------------------------------------------- */
	#s2025 {

		&_floor {
			width: 100vw;
			height: 7vh;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #6b634d;
			z-index: 2;
		}

		&_pattern {
			width: 100vw;
			height: 100vh;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&_snow {
			width: 100vw;
			height: 100vh;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&_gifts {
			width: 90vmin;
			height: 88vh;
			display: block;
			position: relative;
			top: 8vh;
			left: 0;
			margin: 0 auto;
			// padding-bottom: 3vh;
			z-index: 10;
		}

		&_gift1_1 {
			width: auto;
			height: 10%;
			display: block;
			position: absolute;
			bottom: 0;
			left: 9.2%;
			z-index: 10;
		}

		&_gift1_2 {
			width: auto;
			height: 13vmin;
			display: block;
			position: absolute;
			bottom: 1%;
			left: 21.6%;
			z-index: 9;
		}

		&_gift1_3 {
			width: auto;
			height: 13.1vmin;
			display: block;
			position: absolute;
			bottom: 0;
			left: 38.8%;
			z-index: 10;
		}

		&_gift1_4 {
			width: auto;
			height: 16.7vmin;
			display: block;
			position: absolute;
			bottom: -1%;
			left: 58%;
			z-index: 10;
		}

		&_gift1_5 {
			width: auto;
			height: 13vmin;
			display: block;
			position: absolute;
			bottom: 0;
			left: 71.2%;
			z-index: 9;
		}

		&_gift2_1 {
			width: auto;
			height: 7.4vmin;
			display: block;
			position: absolute;
			bottom: 6%;
			left: 9.1%;
			z-index: 7;
		}

		&_gift2_2 {
			width: auto;
			height: 16.7vmin;
			display: block;
			position: absolute;
			bottom: 11%;
			left: 17.37%;
			z-index: 8;
		}

		&_gift2_3 {
			width: auto;
			height: 17vmin;
			display: block;
			position: absolute;
			bottom: 5%;
			left: 32.2%;
			z-index: 6;
		}

		&_gift2_4 {
			width: auto;
			height: 21vmin;
			display: block;
			position: absolute;
			bottom: 1%;
			left: 50.5%;
			z-index: 6;
		}

		&_gift2_5 {
			width: auto;
			height: 7.4vmin;
			display: block;
			position: absolute;
			bottom: 10%;
			left: 69.47%;
			z-index: 9;
		}

		&_gift3_1 {
			width: auto;
			height: 12.5%;
			display: block;
			position: absolute;
			bottom: 20%;
			left: 27.37%;
			z-index: 4;
		}

		&_gift3_2 {
			width: auto;
			height: 12.5%;
			display: block;
			position: absolute;
			bottom: 14%;
			left: 40%;
			z-index: 5;
		}

		&_gift3_3 {
			width: auto;
			height: 10%;
			display: block;
			position: absolute;
			bottom: 14%;
			left: 59%;
			z-index: 9;
			transform: scaleX(-1);
		}

		&_gift4_1 {
			width: auto;
			height: 10%;
			display: block;
			position: absolute;
			bottom: 29%;
			left: 23.1%;
			z-index: 10;
			transform: scaleX(-1);
		}

		&_gift4_2 {
			width: auto;
			height: 21vmin;
			display: block;
			position: absolute;
			bottom: 22%;
			left: 36.23%;
			z-index: 6;
		}

		&_gift4_3 {
			width: auto;
			height: 13vmin;
			display: block;
			position: absolute;
			bottom: 22%;
			left: 46.39%;
			z-index: 5;
		}

		&_gift4_4 {
			width: auto;
			height: 7.4vmin;
			display: block;
			position: absolute;
			bottom: 32%;
			left: 42.43%;
			z-index: 6;
		}

		&_gift4_5 {
			width: auto;
			height: 17vmin;
			display: block;
			position: absolute;
			bottom: 19%;
			left: 63.13%;
			z-index: 6;
		}

		&_gift5_1 {
			width: auto;
			height: 13.1vmin;
			display: block;
			position: absolute;
			bottom: 36%;
			left: 30.1%;
			z-index: 5;
		}

		&_gift5_2 {
			width: auto;
			height: 16.7vmin;
			display: block;
			position: absolute;
			bottom: 38%;
			left: 43.7%;
			z-index: 5;
		}

		&_gift5_3 {
			width: auto;
			height: 21vmin;
			display: block;
			position: absolute;
			bottom: 32%;
			left: 55.72%;
			z-index: 4;
		}

		&_gift6_1 {
			width: auto;
			height: 13vmin;
			display: block;
			position: absolute;
			bottom: 46%;
			left: 35.6%;
			z-index: 4;
		}

		&_gift6_2 {
			width: auto;
			height: 12.5%;
			display: block;
			position: absolute;
			bottom: 50%;
			left: 48.53%;
			z-index: 4;
		}

		&_gift6_3 {
			width: auto;
			height: 7.4vmin;
			display: block;
			position: absolute;
			bottom: 57%;
			left: 39.9%;
			z-index: 6;
		}

		&_gift7_1 {
			width: auto;
			height: 10%;
			display: block;
			position: absolute;
			bottom: 61%;
			left: 41.3%;
			z-index: 10;
		}

		&_gift7_2 {
			width: auto;
			height: 27.6%;
			display: block;
			position: absolute;
			bottom: 66%;
			left: 39.23%;
			z-index: 9;
		}

		&_back {
			width: auto;
			height: 58.6%;
			display: block;
			position: absolute;
			bottom: 0;
			left: 17%;
			z-index: 0;
		}

		&_dream {
			width: auto;
			height: 17.4%;
			display: block;
			position: absolute;
			top: 1%;
			left: 5%;
			z-index: 0;
		}

		&_made {
			width: auto;
			height: 17.4%;
			display: block;
			position: absolute;
			top: 1%;
			left: 42%;
			z-index: 0;
		}

	}

	@include grid-media($XSmall) {

		#s2025 {

		&_floor {
			width: 100vw;
			height: 7vh;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: #6b634d;
			z-index: 2;
		}

		&_pattern {
			width: 100vw;
			height: 100vh;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&_snow {
			width: 100vw;
			height: 100vh;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&_gifts {
			width: 90vmin;
			height: 88vh;
			display: block;
			position: relative;
			top: 8vh;
			left: 0;
			margin: 0 auto;
			// padding-bottom: 3vh;
			z-index: 10;
		}

		&_gift1_1 {
			width: auto;
			height: 10%;
			display: block;
			position: absolute;
			bottom: 0;
			left: 9.2%;
			z-index: 10;
		}

		&_gift1_2 {
			width: auto;
			height: 13vmin;
			display: block;
			position: absolute;
			bottom: 1%;
			left: 21.6%;
			z-index: 9;
		}

		&_gift1_3 {
			width: auto;
			height: 13.1vmin;
			display: block;
			position: absolute;
			bottom: 0;
			left: 38.8%;
			z-index: 10;
		}

		&_gift1_4 {
			width: auto;
			height: 16.7vmin;
			display: block;
			position: absolute;
			bottom: -1%;
			left: 58%;
			z-index: 10;
		}

		&_gift1_5 {
			width: auto;
			height: 13vmin;
			display: block;
			position: absolute;
			bottom: 0;
			left: 71.2%;
			z-index: 9;
		}

		&_gift2_1 {
			width: auto;
			height: 7.4vmin;
			display: block;
			position: absolute;
			bottom: 6%;
			left: 9.1%;
			z-index: 7;
		}

		&_gift2_2 {
			width: auto;
			height: 16.7vmin;
			display: block;
			position: absolute;
			bottom: 7%;
			left: 17.37%;
			z-index: 8;
		}

		&_gift2_3 {
			width: auto;
			height: 17vmin;
			display: block;
			position: absolute;
			bottom: 5%;
			left: 32.2%;
			z-index: 6;
		}

		&_gift2_4 {
			width: auto;
			height: 21vmin;
			display: block;
			position: absolute;
			bottom: 1%;
			left: 50.5%;
			z-index: 6;
		}

		&_gift2_5 {
			width: auto;
			height: 7.4vmin;
			display: block;
			position: absolute;
			bottom: 5%;
			left: 69.47%;
			z-index: 9;
		}

		&_gift3_1 {
			width: auto;
			height: 12.5%;
			display: block;
			position: absolute;
			bottom: 13%;
			left: 20%;
			z-index: 4;
		}

		&_gift3_2 {
			width: auto;
			height: 12.5%;
			display: block;
			position: absolute;
			bottom: 7%;
			left: 40%;
			z-index: 5;
		}

		&_gift3_3 {
			width: auto;
			height: 10%;
			display: block;
			position: absolute;
			bottom: 7%;
			left: 59%;
			z-index: 9;
			transform: scaleX(-1);
		}

		&_gift4_1 {
			width: auto;
			height: 10%;
			display: block;
			position: absolute;
			bottom: 22%;
			left: 23.1%;
			z-index: 10;
			transform: scaleX(-1);
		}

		&_gift4_2 {
			width: auto;
			height: 21vmin;
			display: block;
			position: absolute;
			bottom: 26%;
			left: 36.23%;
			z-index: 6;
		}

		&_gift4_3 {
			width: auto;
			height: 13vmin;
			display: block;
			position: absolute;
			bottom: 16%;
			left: 46.39%;
			z-index: 5;
		}

		&_gift4_4 {
			width: auto;
			height: 7.4vmin;
			display: block;
			position: absolute;
			bottom: 21%;
			left: 42.43%;
			z-index: 6;
		}

		&_gift4_5 {
			width: auto;
			height: 35vmin;
			display: block;
			position: absolute;
			bottom: 12%;
			left: 63.13%;
			z-index: 6;
		}

		&_gift5_1 {
			width: auto;
			height: 13.1vmin;
			display: block;
			position: absolute;
			bottom: 27%;
			left: 30.1%;
			z-index: 5;
		}

		&_gift5_2 {
			width: auto;
			height: 16.7vmin;
			display: block;
			position: absolute;
			bottom: 24%;
			left: 43.7%;
			z-index: 5;
		}

		&_gift5_3 {
			width: auto;
			height: 21vmin;
			display: block;
			position: absolute;
			bottom: 17%;
			left: 55.72%;
			z-index: 4;
		}

		&_gift6_1 {
			width: auto;
			height: 13vmin;
			display: block;
			position: absolute;
			bottom: 32%;
			left: 35.6%;
			z-index: 4;
		}

		&_gift6_2 {
			width: auto;
			height: 12.5%;
			display: block;
			position: absolute;
			bottom: 25%;
			left: 48.53%;
			z-index: 4;
		}

		&_gift6_3 {
			width: auto;
			height: 7.4vmin;
			display: block;
			position: absolute;
			bottom: 33%;
			left: 39.9%;
			z-index: 6;
		}

		&_gift7_1 {
			width: auto;
			height: 10%;
			display: block;
			position: absolute;
			bottom: 35%;
			left: 40%;
			z-index: 10;
		}

		&_gift7_2 {
			width: auto;
			height: 27.6%;
			display: block;
			position: absolute;
			bottom: 40%;
			left: 32%;
			z-index: 9;
		}

		&_back {
			width: auto;
			height: 30%;
			display: block;
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 0;
			transform: translateX(-50%);
		}

		&_dream {
			width: auto;
			height: 15%;
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 0;
			transform: translateX(-50%);
		}

		&_made {
			width: auto;
			height: 15%;
			display: block;
			position: absolute;
			top: 10%;
			left: 50%;
			z-index: 0;
			transform: translateX(-50%);
		}

	}
	}
}