.main-content {

    &__top {
        width: 100%;
        min-height: 7vmax;
        height: 7vmax;
        margin-bottom: 2rem;
    }
}

#bannerTop {
    width: 100%;
    min-height: 7vmax;
    height: 7vmax;
    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, #ea6511 0%, #e5362c 50%, #be1825 100%);

    &Right {
        width: initial;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: -0.05rem;
        //background-color: #fff;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-position: right;
            object-fit: cover;
        }
    }

    &Lenta {
        width: auto;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 16vmax;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-position: center;
            object-fit: cover;
        }
    }

    &Slogan {
        width: 16.5vmax;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;

        &Top {
            width: auto;
            height: 1.84vmax;
            display: block;
            position: relative;
            margin-bottom: 0.15rem;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: cover;
            }
        }

        &Bottom {
            width: auto;
            height: 2vmax;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: cover;
            }
        }
    }

    &Years {
        width: 15vmax;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 6vmax;
        z-index: 5;
    }

    &1945, &Defis, &2025 {
        width: auto;
        height: 2.2vmax;
        display: block;
        position: relative;
        margin-bottom: 0.15rem;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-position: center;
            object-fit: cover;
        }
    }

    &Defis {
        width: auto;
        height: 0.4vmax;
        display: block;
        position: relative;
        margin-bottom: 0.15rem;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-position: center;
            object-fit: cover;
        }
    }

    &Center {
        width: 15vmax;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 24vmax;
        z-index: 5;
    }

    &80 {
        width: auto;
        height: 2.8vmax;
        display: block;
        position: relative;
        margin-bottom: 0.15rem;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-position: center;
            object-fit: cover;
        }
    }

    &Victory {
        width: auto;
        height: 2.5vmax;
        display: block;
        position: relative;
        margin: 0.2rem 0 0 0.7vmax;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-position: center;
            object-fit: cover;
        }
    }

    &Img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-position: center;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 1024px) {
        height: 20vmin;
        background: #fff;

        &Lenta {
            right: 28vmin;
            z-index: 8;
        }

        &1945M {
            width: auto;
            height: 14vmin;
            display: block;
            position: relative;
            left: 5vmin;
            z-index: 5;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: cover;
            }
        }

        &2025M {
            width: auto;
            height: 14vmin;
            display: block;
            position: relative;
            left: 21vmin;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: cover;
            }
        }

        &Right,
        &Slogan,
        &Defis,
        &Center,
        &1945,
        &2025,
        &Years {
            display: none;
            visibility: hidden;
        }
    }

    //@include grid-media($XSmall) {
    //    height: 20vmin;
    //    background: #fff;
    //
    //    &Lenta {
    //        right: 28vmin;
    //        z-index: 8;
    //    }
    //
    //    //&Years {
    //    //    width: 100%;
    //    //    left: 0;
    //    //}
    //
    //    &1945M {
    //        width: auto;
    //        height: 14vmin;
    //        display: block;
    //        position: relative;
    //        left: 5vmin;
    //        z-index: 5;
    //
    //        img {
    //            width: 100%;
    //            height: 100%;
    //            display: block;
    //            object-position: center;
    //            object-fit: cover;
    //        }
    //    }
    //
    //    &2025M {
    //        width: auto;
    //        height: 14vmin;
    //        display: block;
    //        position: relative;
    //        left: 21vmin;
    //        z-index: 10;
    //
    //        img {
    //            width: 100%;
    //            height: 100%;
    //            display: block;
    //            object-position: center;
    //            object-fit: cover;
    //        }
    //    }
    //
    //    &Right,
    //    &Slogan,
    //    &Defis,
    //    &Center,
    //    &1945,
    //    &2025,
    //    &Years {
    //        display: none;
    //        visibility: hidden;
    //    }
    //}
}
