.blind {

    /*----------  Blind Images Color Y/B  ----------*/
    &-yb {

        &>.wrapper {
            background-color: $blindBackgroundYB;
            color: $blindColorYB;

            &>.header {
                background-color: $blindColorYB;

                &>.header__nav {
                    background-color: lighten($blindBackgroundYB, 20%);

                    &>.header__bottom {
                        background-color: lighten($blindBackgroundYB, 20%);

                        .nav-main {

                            li {

                                a {
                                    color: $blindColorYB;
                                }

                                &:hover {
                                    background-color: lighten($blindBackgroundYB, 20%);
                                }
                            }

                            &__children {

                                ul.submenu {
                                    background-color: $blindColorYB;

                                    a {
                                        color: $blindBackgroundYB;

                                        &:hover {
                                            color: $blindColorYB;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &>.header__top {
                        background-color: lighten($blindBackgroundYB, 25%);

                        &>.header__social {

                            ul {

                                li {


                                    i {
                                        color: $blindColorYB;
                                    }
                                }
                            }
                        }

                        &>input {
                            color: $blindBackgroundYB;

                            &::-webkit-input-placeholder {
                                /* WebKit browsers */
                                color: $blindBackgroundYB;
                            }

                            &::-moz-placeholder {
                                /* Mozilla Firefox 4 to 18 */
                                color: $blindBackgroundYB;
                                opacity: 1;
                            }

                            &::-moz-placeholder {
                                /* Mozilla Firefox 19+ */
                                color: $blindBackgroundYB;
                                opacity: 1;
                            }

                            &::-ms-input-placeholder {
                                /* Internet Explorer 10+ */
                                color: $blindBackgroundYB;
                            }
                        }
                    }
                }

                &>.header__blind {
                    background-color: $blindBackgroundYB;

                    & > i {
                        color: $blindColorYB;
                    }
                }
            }

            &>.sidebar {
                background-color: lighten($blindBackgroundYB, 20%);

                &-static {
                    background-color: lighten($blindBackgroundYB, 20%);
                }

                &>.sidebar__buttons {
                    background-color: $blindBackgroundYB;

                    &>a {
                        background-color: lighten($blindBackgroundYB, 25%);
                        border-color: $blindColorYB;

                        span {
                            color: $blindColorYB;
                        }

                        picture {

                            img {
                                filter: grayscale(1) invert(0);
                            }
                        }
                    }
                }

                &>.sidebar__banners {

                    a {

                        picture {
                            img {
                                filter: grayscale(1);
                            }
                        }
                    }
                }

                &>.sidebar-logo {

                    svg {

                        path {
                            fill: $blindColorYB;
                        }
                    }

                    img {
                        filter: grayscale(1) invert(0);
                    }
                }

                &>.sidebar-login {
                    background-color: $blindBackgroundYB;

                    &>.sidebar-login__top {

                        &>.sidebar-login__form {

                            &>.sidebar-login__block {

                                input {
                                    color: $blindColorYB;
                                    border-color: $blindColorYB;
                                    background-color: lighten($blindBackgroundYB, 20%);

                                    &:focus,
                                    &:visited {
                                        color: $blindColorYB;
                                        background-color: lighten($blindBackgroundYB, 20%);
                                        border-color: $blindColorYB;
                                        outline: none;
                                    }

                                    &:focus::-webkit-input-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &:focus::-moz-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &:focus::-ms-input-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &::-webkit-input-placeholder {
                                        /* WebKit browsers */
                                        color: rgba($blindColorYB, 0.7);
                                    }

                                    &::-moz-placeholder {
                                        /* Mozilla Firefox 4 to 18 */
                                        color: rgba($blindColorYB, 0.7);
                                        opacity: 1;
                                    }

                                    &::-moz-placeholder {
                                        /* Mozilla Firefox 19+ */
                                        color: rgba($blindColorYB, 0.7);
                                        opacity: 1;
                                    }

                                    &::-ms-input-placeholder {
                                        /* Internet Explorer 10+ */
                                        color: rgba($blindColorYB, 0.7);
                                    }
                                }
                            }

                            &>.sidebar-login__button {
                                color: $blindColorYB;
                                border-color: $blindColorYB;
                                background-color: lighten($blindBackgroundYB, 20%);
                            }
                        }
                    }

                    &>.sidebar-login__bottom {

                        li {

                            a, i {
                                color: $blindColorYB;
                            }
                        }
                    }
                }
            }

            &>.main-content {

                img {
                    filter: grayscale(1) contrast(1.2) brightness(1.1);
                }

                &>.main-content__inside {

                    &>.main-content__hero {

                        &>.main-content__intro {
                            background-color: $blindColorYB;
                        }

                        &>.main-content__anniversary {
                            background-color: lighten($blindBackgroundYB, 20%);

                            &>.bx-viewport {

                                .main-content__anniversary {
                                    background-color: lighten($blindBackgroundYB, 20%);
                                }
                            }

                            .main-content__anniversary-slide {

                                .main-content__anniversary-middle {
                                    background-color: $blindBackgroundYB;
                                }

                                .main-content__anniversary-data {
                                    background-color: $blindBackgroundYB;


                                    span {
                                        color: $blindColorYB;
                                    }
                                }

                                .main-content__anniversary-birthday {

                                    span, p {
                                        color: $blindColorYB;
                                    }
                                }
                            }
                        }
                    }

                    &>.main-content__read,
                    &>.main-content__news,
                    &>.main-content__calendar,
                    &>.main-content__partners {

                        &>.main-content__news-block {

                            &>.main-content__subheader {
                                border-color: $blindColorYB;
                            }

                            ul {

                                &>.main-content__news-single {

                                    &>.news-single__title {
                                        background-color: lighten($blindBackgroundYB, 20%);
                                    }

                                    &>.news-single__text {
                                        background-color: lighten($blindBackgroundYB, 30%);
                                    }

                                    &>.news-single__footer {

                                        &>.news-single__date {
                                            background-color: lighten($blindBackgroundYB, 25%);
                                            color: $blindColorYB;
                                        }

                                        &>.news-single__link {
                                            background-color: lighten($blindBackgroundYB, 20%);
                                        }
                                    }
                                }
                            }

                            &>.main-content__subheader--link {

                                a {

                                    &:after {
                                        color: $blindColorYB;
                                    }
                                }
                            }
                        }

                        &>.main-content__subheader {
                            border-color: $blindColorYB;
                        }

                        &>.main-content__subheader--link {

                            a {

                                &:after {
                                    color: $blindColorYB;
                                }
                            }
                        }
                    }

                    &>.main-content__calendar {

                        &>.main-content__calendar-month {

                            ul {

                                &>.main-content__calendar-date {
                                    border-color: $blindColorYB;


                                    &>.calendar-date__data {
                                        border-color: $blindColorYB;

                                        &>.calendar-date__data-num {
                                            border-color: $blindColorYB;
                                            background-color: $blindBackgroundYB;

                                            span {
                                                color: $blindColorYB;
                                            }
                                        }
                                    }

                                    &>.calendar-date__events {
                                        border-color: $blindColorYB;

                                        &>.calendar-date__data-month {
                                            border-color: $blindColorYB;
                                            background-color: lighten($blindBackgroundYB, 20%);

                                            span {
                                                color: $blindColorYB;
                                            }
                                        }

                                        &>.calendar-date__data-week {
                                            background-color: $blindBackgroundYB;

                                            span {
                                                color: $blindColorYB;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &>.main-content__text {

                        &>.read-content__link {
                            color: $blindColorYB;
                            background-color: lighten($blindBackgroundYB, 30%);
                            border-color: $blindColorYB;
                        }
                    }

                    &>.main-content__inside-content {

                        &>.main-content__guest {

                            &>.main-content__guest-message {
                                color: $blindColorYB;
                                background-color: lighten($blindBackgroundYB, 20%);

                                &:before {
                                    border-right-color: lighten($blindBackgroundYB, 20%);
                                }
                            }

                            &>.main-content__guest-person {

                                &>.main-content__guest-date {

                                    span {
                                        color: $blindColorYB;
                                    }
                                }
                            }
                        }

                        &>.main-content__inside-form {

                            &>.form-ajax {

                                input[type='text'],
                                input[type='email'],
                                input[type='number'],
                                input[type='password'],
                                textarea {
                                    color: $blindColorYB;
                                    border-color: $blindColorYB !important;

                                    &:focus,
                                    &:visited {
                                        color: $blindColorYB;
                                        background-color: lighten($blindBackgroundYB, 20%);
                                        border-color: $blindColorYB;
                                    }

                                    &:focus::-webkit-input-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &:focus::-moz-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &:focus::-ms-input-placeholder {
                                        opacity: 0;
                                        transition: all 0.3s;
                                    }

                                    &::-webkit-input-placeholder {
                                        /* WebKit browsers */
                                        color: $blindColorYB;
                                    }

                                    &::-moz-placeholder {
                                        /* Mozilla Firefox 4 to 18 */
                                        color: $blindColorYB;
                                        opacity: 1;
                                    }

                                    &::-moz-placeholder {
                                        /* Mozilla Firefox 19+ */
                                        color: $blindColorYB;
                                        opacity: 1;
                                    }

                                    &::-ms-input-placeholder {
                                        /* Internet Explorer 10+ */
                                        color: $blindColorYB;
                                    }
                                }

                                &>.form-ajax__input {

                                    &>.form-ajax__input-rating {

                                        &>.form-ajax__input-description {
                                            color: $blindColorYB !important;
                                        }
                                    }
                                }

                                &>.form-ajax__agreement {

                                    a {
                                        color: $blindColorYB !important;
                                    }
                                }

                                &>.form-ajax__button {

                                    &>.submit-form {
                                        color: $blindColorYB;
                                        background-color: lighten($blindBackgroundYB, 20%);
                                        border-color: $blindColorYB;
                                    }
                                }
                            }
                        }
                    }

                    &>.main-content__link {

                        &>.main-content__link-block {
                            color: $blindColorYB;
                            background-color: lighten($blindBackgroundYB, 20%);
                        }
                    }
                }

                &>.main-content__breadcrumbs {

                    li {

                        a {
                            color: $blindColorYB;
                        }
                    }
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5 {
                color: $blindColorYB;
                border-color: $blindColorYB;
            }
        }

        p, strong {
            color: $blindColorYB;
        }

        &>.footer {
            background-color: $blindBackgroundYB;

            &>.footer__down-block {
                background-color: lighten($blindBackgroundYB, 20%);
            }

            &>.footer__line {

                &>span {
                    border-color: lighten($blindBackgroundYB, 20%);
                }
            }

            >.footer__logo {

                svg {

                    path {
                        fill: $blindColorYB;
                    }
                }
            }

            a {
                color: $blindColorYB;

                svg {

                    path {
                        fill: $blindColorYB;
                    }
                }
            }
        }
    }
}