.main-content {

	&__subheader {
		position: relative;
	}

	&__calendar {
		width: 100%;
		display: flex;
		flex-direction: row;

		&_filter {
			min-width: 13rem;
			height: 2rem;
			display: flex;
			flex-direction: row;
			position: absolute;
			bottom: 0;
			right: 0;
		}

		&_select {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			padding: 0 calc(#{$marginVert} / 2);
			text-align: right;
			color: $secondary;
			border-top: $border_thin solid $secondary;
			border-left: $border_thin solid $secondary;
			border-right: $border_thin solid $secondary;

			option {
				color: $secondary;
			}
		}

		&_arrow {
			width: 2rem;
			height: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			color: $secondary;
		}
	}
}

.calendar {

	&__month {
		width: calc(40% - #{$border_thin} - (#{$marginVert} * 2));
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		border-right: $border_thin solid $secondary;
		margin-right: $marginVert;
		padding-right: $marginVert;

		&_date {
			width: calc((100% / 7) - 0.2rem);
			height: 3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0.1rem;
			background-color: $primary;
			cursor: pointer;
		}

		&-num {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			// border-bottom: $border_thin solid $secondary;
			background-color: $secondary;

			span {
				font-family: $heading-font;
				font-size: $font-size-large + 0.5;
				color: $layoutBackground;
			}
		}

		&-month {
			width: 100%;
			height: calc(50% - #{$border_thin});
			display: flex;
			align-items: center;
			justify-content: center;
			// border-bottom: $border_thin solid $secondary;
			// padding-left: 0.5rem;
			background-color: $primary;

			span {
				font-size: $font-size-base;
				color: $secondary;
			}
		}

		&-week {
			width: 100%;
			height: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			// padding-left: 0.5rem;
			background-color: $navBackground;

			span {
				font-size: $font-size-base;
				color: $secondary;
			}
		}

		&--current {
			background-color: $secondary;
			border-color: $primary;

			span {
				color: $primary;
			}
		}

		&--active {
			border-color: $footerDownBlock;

			.calendar-date__data-num {
				background-color: $footerDownBlock;
			}
		}

		@include grid-media($Small) {

			&-month,
			&-week {

				span {
					font-size: $font-size-small;
				}
			}
		}
	}

	&__events {
		width: 60%;
		height: 100%;
		min-height: 10vh;
		display: block;
		float: left;
		overflow: hidden;
		//padding-left: $marginVert;

		&_inside {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		p {
			margin-top: 0;
		}

		&--current {
			background-color: $primary;
			border-color: $secondary;
		}
	}

	//@include grid-media($XXLarge) {
	//
	//	&__data {
	//		width: calc(5rem - #{$border_thin});
	//
	//		&-num {
	//
	//			span {
	//				font-size: $font-size-large + 1;
	//			}
	//		}
	//
	//		&-month,
	//		&-week {
	//
	//			span {
	//				font-size: $font-size-large;
	//			}
	//		}
	//	}
	//
	//	&__events {
	//		width: calc(100% - 5rem - #{$border_thin});
	//	}
	//}
	//
	//@include grid-media($XLarge) {
	//
	//	&__data {
	//		width: calc(4rem - #{$border_thin});
	//
	//		&-num {
	//
	//			span {
	//				font-size: $font-size-large + 0.5;
	//			}
	//		}
	//
	//		&-month,
	//		&-week {
	//
	//			span {
	//				font-size: $font-size-base;
	//			}
	//		}
	//	}
	//
	//	&__events {
	//		width: calc(100% - 4rem - #{$border_thin});
	//	}
	//}
	//
	//@include grid-media($Large) {
	//
	//	&__data {
	//		width: calc(3rem - #{$border_thin});
	//
	//		&-num {
	//
	//			span {
	//				font-size: $font-size-large + 0.5;
	//			}
	//		}
	//
	//		&-month,
	//		&-week {
	//
	//			span {
	//				font-size: $font-size-base;
	//			}
	//		}
	//	}
	//
	//	&__events {
	//		width: calc(100% - 3rem - #{$border_thin});
	//	}
	//}
}

/*============  End of BannerTop Page  =============*/

.is-visible {
	background-color: darken($primary, 10%);
}

.is-hide {
	display: none;
	visibility: hidden;
}