@use "breakpoints" as bp;

/*=================================================
=                   Annyversary                   =
=================================================*/
.anniversary {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    user-select: none;
    box-sizing: border-box;
    //opacity: 0;
    //display: none;
    z-index: 10;

    &--2026 {
        display: block;
        background-color: #e6e6d2 !important;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }

    /* NY Year
    -------------------------------------------------- */
    #s2026 {
        &_back {
            width: 100vw;
            height: 100vh;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center bottom;
                object-fit: cover;
            }
        }

        &_ded {
            width: 58vmin;
            height: auto;
            display: block;
            position: absolute;
            bottom: 2vmin;
            // left: 3vmin;
            z-index: 2;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: contain;
            }
        }

        &_girl {
            width: 30vmin;
            height: auto;
            display: block;
            position: absolute;
            bottom: 2vmin;
            // right: 10vmin;
            z-index: 3;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: contain;
            }
        }

        &_bag {
            width: 45vmin;
            height: auto;
            display: block;
            position: absolute;
            bottom: 2vmin;
            // left: 50vmin;
            z-index: 4;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: contain;
            }
        }

        &_slogan {
            width: 70vmin;
            height: auto;
            display: block;
            position: absolute;
            top: 2vmin;
            left: 50%;
            z-index: 4;
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: center;
                object-fit: contain;
            }
        }

        @include bp.media-up("XXXLarge") {
            &_ded {
                left: 50vmin;
            }

            &_girl {
                right: 60vmin;
            }

            &_bag {
                left: 95vmin;
            }

            &_slogan {
                width: 80vmin;
                // right: 45vmin;
            }
        }

        @include bp.media-up("XXLarge") {
            &_ded {
                left: 30vmin;
            }

            &_girl {
                right: 25vmin;
            }

            &_bag {
                left: 70vmin;
            }

            &_slogan {
                width: 70vmin;
                // right: 12vmin;
            }
        }

        @include bp.media-up("XLarge") {
            &_ded {
                left: 25vmin;
            }

            &_girl {
                right: 20vmin;
            }

            &_bag {
                left: 75vmin;
            }

            &_slogan {
                width: 70vmin;
                // right: 10vmin;
            }
        }

        @include bp.media-up("Large") {
            &_ded {
                left: 10vmin;
            }

            &_girl {
                right: 20vmin;
            }

            &_bag {
                left: 60vmin;
            }

            &_slogan {
                width: 70vmin;
                // right: 5vmin;
            }
        }

        @include bp.media-up("Medium") {
            &_ded {
                left: 3vmin;
            }

            &_bag {
                left: 50vmin;
            }

            &_girl {
                right: 10vmin;
            }

            &_slogan {
                width: 70vmin;
                // right: 3vmin;
            }
        }

        @include bp.media-up("XSmall") {
            &_ded {
                left: -7vmin;
            }

            &_bag {
                left: 25vmin;
            }

            &_girl {
                right: 5vmin;
            }

            &_slogan {
                width: 90vmin;
                // left: 6vmax;
                top: 3vmin;
            }
        }

        @include bp.media-up("Small") {
            &_ded {
                width: 50vmax;
                left: -20vmax;
            }

            &_bag {
                width: 30vmax;
                left: 0;
            }

            &_girl {
                width: 25vmax;
                right: -3vmax;
            }

            &_slogan {
                width: 90vmin;
                // left: 5vmin;
                top: 5vmin;
            }
        }
    }
}
