
/*====================================
=            Main content            =
====================================*/

.main-content {
    @include grid-column(10, $main-grid);
    min-height: calc(100vh - #{$headerHeightDesktop} - #{$marginVert});
    padding-top: $headerHeightDesktop + $marginVert;

    &__hero {
        @include grid-container;
        height: 28rem;
        display: block;
        margin-bottom: $marginVert;
        margin-left: $marginVert;
    }

    &__intro {
        // @include grid-column(8, $second-grid);
        width: calc(((100% / 12) * 8) - #{$marginVert});
        height: 100%;
        display: block;
        float: left;
        background-color: $primary;
        margin-left: $marginVert;
        overflow: hidden;
    }

    &__anniversary {
        // @include grid-column(4, $second-grid);
        width: calc(((100% / 12) * 4) - #{$marginVert});
        height: 100%;
        display: block;
        float: left;
        background-color: $primary;
        margin-left: $marginVert;
    }

    &__news {
        @include grid-container;
        // margin-bottom: $marginVert;

        &-block {
            @include grid-column(12, $second-grid);
            min-height: 10rem;
        }

        &-single {
            @include rowMachine(4, $marginVert);
            min-height: 10rem;
            // border: $border_thin solid $secondary;
            background-color: lighten($primary, 10%);
            position: relative;
            // box-shadow: 0.1rem 0.1rem 0.2rem rgba($third, 0.3);
            // transition: all 0.3s;

            // &:hover {
            //     box-shadow: 0.2rem 0.2rem 0.2rem rgba($third, 0.2);
            // }
        }
    }

    &__read {
        @include grid-container;
        min-height: 5rem;
        margin-bottom: $marginVert;

        figure {
            @include grid-column(2, $second-grid);
            // min-height: 13rem;
            display: inline-block;
            // background-color: $primary;
            margin-block-start: 0;
            margin-block-end: 0;
            // margin-inline-start: 0;
            margin-inline-end: 0;
            overflow: hidden;
            transition: all $base-duration;

            img {
                width: 100%;
                height: auto;
                display: block;
                transition: transform $base-duration;
            }

            &:hover {

                img {
                    transform: scale(1.05)
                }
            }
        }

        figcaption {
            display: none;
        }

        &-all {

            &:hover {

                figure:not(:hover) {
                    filter: grayscale(1);
                }
            }
        }
    }

    &__calendar {
        @include grid-column(12, $second-grid);
        display: block;
        margin-bottom: $marginVert;

        &-month {
            @include grid-column(12, $main-grid);
            min-height: 30vh;
            display: block;
            // background-color: $primary;
        }

        &-date {
            @include rowMachineBorder(7, $border_normal, $border_thin);
            height: 5rem;
            border: $border_thin solid $secondary;
        }
    }

    &__partners {
        @include grid-column(12, $second-grid);

        ul {

            li {
                // @include grid-column(2, $second-grid);
                @include rowMachine(7, 1rem);
                // min-height: 5rem;
                display: inline-block;
                // background-color: $primary;
                margin-bottom: $marginVert;
                margin-right: 1rem;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }

    &__subheader {
        width: 100%;
        display: block;
        border-bottom: $border_thin solid $secondary;
        margin-bottom: $marginVert / 2;

        &--margin {
            @include grid-column(12, $second-grid);
        }
    }
}

/*=====  End of Page content  ======*/

