/*=============================================
=                   Login                   =
=============================================*/

.login {

	&-block {
		width: 50%;
		height: calc(#{$marginVert} * 2);
		display: block;
		float: left;
		position: absolute;
		right: 0;
		transform: translateY(-50%);

		&__top {
			width: 100%;
			height: $marginVert;
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			top: 0;
		}

		&__bottom {
			width: 100%;
			height: $marginVert;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			position: relative;

			li.login-block__part {
				// width: calc(100% / 5);
				display: flex;
				align-items: center;
				justify-content: flex-end;
				text-align: right;
				margin-right: calc(#{$marginVert} / 2);

				a {
					font-size: $font-size-small;
					color: $sidebarButtonsBackground;
				}

				i {
					color: $sidebarButtonsBackground;
					margin-right: calc(#{$marginVert} / 4);
				}

				&:last-child {
					margin-right: 0;
				}

				&--3 {
					width: calc(100% / 3);
				}

				&--2 {
					width: calc(100% / 2);
				}

				&:hover {

					a, i {
						color: $secondary;
					}
				}
			}
		}

		&__name {
			width: calc(100% - (#{$marginVert} / 2) - (#{$marginVert} * 3));
			height: $marginVert;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-right: calc(#{$marginVert} / 2);

			& > span {
				font-size: $font-size-large;
				font-family: $heading-font;
				color: $secondary;
			}
		}

		&__form {
			width: 100%;
			height: $marginVert;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			&-input {
				width: calc(25rem - ((#{$marginVert} * 3) * 2) - ((#{$marginVert} / 4) * 3) - (#{$border_thin} * 2));
				height: calc(#{$marginVert} - #{$border_thin});
				display: inline-block;
				border: $border_thin solid $secondary;
				border-bottom: none;
				padding: 0 calc(#{$marginVert} / 4);
				margin-right: calc(#{$marginVert} / 4);
				background-color: transparent;
				color: $formInputColor;
				transition: all 0.3s;

				&:focus,
				&:visited {
					color: $formInputColor;
					background-color: $fourth;
					border-color: $formInputColor;
				}

				&:focus::-webkit-input-placeholder {
					opacity: 0;
					transition: all 0.3s;
				}

				&:focus::-moz-placeholder {
					opacity: 0;
					transition: all 0.3s;
				}

				&:focus::-ms-input-placeholder {
					opacity: 0;
					transition: all 0.3s;
				}

				&::-webkit-input-placeholder {
					/* WebKit browsers */
					color: rgba($formInputColor, 0.7);
				}

				&::-moz-placeholder {
					/* Mozilla Firefox 4 to 18 */
					color: rgba($formInputColor, 0.7);
					opacity: 1;
				}

				&::-moz-placeholder {
					/* Mozilla Firefox 19+ */
					color: rgba($formInputColor, 0.7);
					opacity: 1;
				}

				&::-ms-input-placeholder {
					/* Internet Explorer 10+ */
					color: rgba($formInputColor, 0.7);
				}
			}
		}

		&__button {
			width: calc(#{$marginVert} * 3);
			height: $marginVert;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $secondary;

			a {
				color: $primary;
			}

			&:hover {

				a {
					color: $fourth;
				}
			}

			&--enter {
				outline: none;
				border: none;
				color: $primary;
				font-size: $font-size-base;
				cursor: pointer;

				&:hover {
					color: $fourth;
				}
			}

			&--single {
				width: initial;
				padding: 0 1rem;
			}
		}

		@include grid-media($Small) {
			width: 100%;
			height: inherit;
			min-height: $marginVert;
			position: relative;
			margin-top: calc(#{$marginVert} / 2);
			transform: translateY(0);

			&__top {
				height: inherit;
				flex-direction: column;
				min-height: $marginVert;
				// flex-direction: column;
			}

			&__bottom {
				height: calc(#{$marginVert} * 1.5);
			}

			&__name {
				width: calc(100% - (#{$marginVert} / 2));
				height: calc(#{$marginVert} * 2);
				justify-content: flex-start;
				padding-right: calc(#{$marginVert} / 2);
			}

			&__form {
				height: inherit;
				min-height: $marginVert;
				flex-direction: column;

				&-input {
					width: calc(100% - ((#{$marginVert} / 4) * 2) - (#{$border_thin} * 2));
					border-bottom: $border_thin solid $secondary;
					margin-right: 0;
					margin-bottom: calc(#{$marginVert} / 4);
				}
			}

			&__button {
				width: 100%;
				height: calc(#{$marginVert} * 2);

				// &--single {
				// 	width: 100%;
				// }
			}
		}
	}

	&-account {
		width: calc(100% - (#{$marginVert} * 2));
		min-height: 3rem;
		display: flex;
		flex-direction: row;
		position: relative;
		padding: $marginVert;
		margin-bottom: $marginVert;
		background-color: lighten($layoutBackground, 5%);

		&--half {
			width: calc(50% - (#{$marginVert} * 2));
			min-height: 10vh;
			display: block;
			float: left;
		}

		&__part {
			width: 50%;
			height: 100%;
			display: block;
			float: left;
			position: relative;
			// padding-right: $marginVert;
			margin-bottom: 0 !important;

			&--full {
				width: 100%;
				// padding-right: 0;
			}

			li {
				list-style: none;
				font-family: $heading-font-light;
				font-size: $font-size-h4;
				color: $secondary;
			}

			span {
				color: $sidebarButtonsBackground;
			}

			p {
				color: $secondary;

				a {
					color: $sidebarButtonsBackground;
				}
			}
		}

		@include grid-media($Small) {
			width: calc(100% - (#{$marginVert} * 1));
			padding: calc(#{$marginVert} / 2);
			flex-direction: column;

			&__part {
				width: 100%;
			}
		}
	}
}

/*============  End of Login  =============*/