/*==================================
=            Nav Mobile            =
==================================*/

.nav {

	&-main {
		// height: 100%;
		// position: relative;

		li {
			height: calc((#{$headerHeightDesktop} / 2) - (#{$marginVert} / 4));
			// display: inline-block;
			float: left;
			padding: calc(#{$marginVert} / 4) $navLinkPadding 0;
			// transition: all $base-duration;

			a {
				height: 100%;
				font: {
					family: $heading-font;
				};
				color: $navLinkColor;
			}

			&:hover {
				background-color: $navBackground;
			}
		}

		&__children {

			> a {

				svg#navCross {
					width: 0.5rem;
					height: 0.5rem;
					display: block;
					float: left;
					position: relative;
					margin-right: calc(#{$marginVert} / 5);
					transform: translateY(100%);

					#navCrossVert {
						fill: none;
						stroke: $secondary;
						stroke-width: 0.2rem;
						transform-origin: 50% 50%;
						transition: transform .2s;
					}

					#navCrossHorz {
						fill: none;
						stroke: $secondary;
						stroke-width: 0.2rem;
						transform-origin: 50% 50%;
						transition: transform .2s;
					}
				}
			}

			ul.submenu {
				min-width: 10rem;
				position: absolute;
				top: calc(#{$headerHeightDesktop} / 2);
				margin-left: calc((-#{$marginVert}) / 3);
				background-color: $navBackground;
				box-shadow: 0 0.1rem 0.1rem rgba($third, 0.2);
				transition: all $base-duration;
				display: none;
				opacity: 0;

				li {
					width: 100%;
					height: calc(#{$headerHeightDesktop} / 2);
					float: none;
					padding: 0;
					position: relative;
					cursor: pointer;
					transition: all $base-duration;

					a {
						// width: calc(100% - (#{$navLinkPadding} * 2));
						height: calc(100% - (#{$marginVert} / 2));
						display: block;
						position: relative;
						padding: calc(#{$marginVert} / 4) $navLinkPadding;
					}

					&.active {
						background-color: $navBackgroundHover;

						a {
							color: $navColorHover;
						}
					}

					&:hover {
						background-color: $navBackgroundHover;

						a {
							color: $navColorHover;
						}
					}
				}
			}

			&:hover {

				ul.submenu {
					display: block;
					opacity: 1;
				}

				> a {

					svg#navCross {

						#navCrossVert {
							transform: rotate(90deg);
						}

						#navCrossHorz {
							transform: rotate(360deg);
						}
					}
				}
			}
		}

		&--mobile {

			.sub-menu {
				padding: 0 0 0.5rem;
				display: none;
				//background-color: lighten($primary, 3%);

				li {


					a {
						font-size: calc(1rem + 1vmax);
						padding: 0.15rem 0;
					}
				}

				@include grid-media($Small) {
					padding: 0.5rem 0;

					li {

						a {
							padding: 0.5rem 0;
						}
					}
				}
			}

			li {


				a {
					width: 100%;
					display: block;
					line-height: 1rem;
					padding: 0.5rem 0 0.5rem;
					color: $primary;
					font: {
						family: $heading-font;
						size: $font-size-large;
					};
					transition: 0.3s ease-in-out;

					// .no-touch &:hover,
					// &:hover {
					//     //color: #FFF;
					//     //background-color: lighten($primary, 5%);
					//     //padding-left: 0.5rem;
					// }

					&.submenu-open {
						// background-color: $colorCategoryTitle;
						// border-top: 0.15rem solid $filterBorderColor;

						.sub-menu {


							li {

								a {
									font-size: $font-size-large - 0.2;
								}

								// a.active {
								//     //color: $fourth;
								// }
							}
						}
					}
				}

				// &.current, &.active {


				//     a {
				//     	//color: $fourth;
				//     }
				// }
			}

			li {
				height: calc((#{$headerHeightDesktop} / 2) - (#{$marginVert} / 4));
				// display: inline-block;
				// float: left;
				padding: calc(#{$marginVert} / 4) 0 0;
				// transition: all $base-duration;

				a {
					height: 100%;
					font: {
						family: $heading-font;
						size: calc(1rem + 0.6vmin);
					};
					color: $navLinkColor;
				}

				&:hover {
					background-color: $navBackground;
				}
			}

			&__children {

				> a {

					svg#navCross {
						width: 0.5rem;
						height: 0.5rem;
						display: block;
						float: left;
						position: relative;
						margin-right: calc(#{$marginVert} / 5);
						transform: translateY(100%);

						#navCrossVert {
							fill: none;
							stroke: $secondary;
							stroke-width: 0.2rem;
							transform-origin: 50% 50%;
							transition: transform .2s;
						}

						#navCrossHorz {
							fill: none;
							stroke: $secondary;
							stroke-width: 0.2rem;
							transform-origin: 50% 50%;
							transition: transform .2s;
						}
					}
				}

				ul.submenu {
					min-width: 10rem;
					position: absolute;
					top: calc(#{$headerHeightDesktop} / 2);
					margin-left: calc((-#{$marginVert}) / 3);
					background-color: $navBackground;
					box-shadow: 0 0.1rem 0.1rem rgba($third, 0.2);
					transition: all $base-duration;
					display: none;
					opacity: 0;

					li {
						width: 100%;
						height: calc(#{$headerHeightDesktop} / 2);
						float: none;
						padding: 0;
						position: relative;
						cursor: pointer;
						transition: all $base-duration;

						a {
							// width: calc(100% - (#{$navLinkPadding} * 2));
							height: calc(100% - (#{$marginVert} / 2));
							display: block;
							position: relative;
							padding: calc(#{$marginVert} / 4) 0;
						}

						&.active {
							background-color: $navBackgroundHover;

							a {
								color: $navColorHover;
							}
						}

						&:hover {
							background-color: $navBackgroundHover;

							a {
								color: $navColorHover;
							}
						}
					}
				}

				&:hover {

					ul.submenu {
						display: block;
						opacity: 1;
					}

					> a {

						svg#navCross {

							#navCrossVert {
								transform: rotate(90deg);
							}

							#navCrossHorz {
								transform: rotate(360deg);
							}
						}
					}
				}
			}
		}

		// @include grid-media($XXLarge) {

		// 	li {
		// 		height: calc(((#{$headerHeightDesktop} + 1rem) / 2) - (#{$marginVert} / 4));
		// 		padding-top: ($marginVert / 3.5);
		// 	}
		// }
	}

	&-button {
		width: $headerHeightMobile;
		height: $headerHeightMobile;
		display: none;
		visibility: hidden;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		right: 0;
		cursor: pointer;
		z-index: 9998;

		&-line {
			width: 50%;
			height: $border_normal;
			background-color: $secondary;
			position: absolute;
			// transition: transform 0.3s;

			&__top {
				transform: translate(0, -290%);
				transform-origin: 50% 50%;
			}

			&__middle {
				transform-origin: 50% 50%;
			}

			&__bottom {
				transform: translate(0, 290%);
				transform-origin: 50% 50%;
			}
		}

		// &:hover {

		// 	.nav-button-line {

		// 		&__top {
		// 			transform: translate(30%, 200%) rotate(135deg) scaleX(0.6);
		// 		}

		// 		&__middle {
		// 			transform: rotate(180deg);
		// 		}

		// 		&__bottom {
		// 			transform: translate(30%, -200%) rotate(-135deg) scaleX(0.6);
		// 		}
		// 	}
		// }
	}

	&-mobile {
		width: calc(80% - (#{$paddingMobile} * 4));
		height: calc(100vh - (#{$headerHeightMobile} * 2));
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;
		padding: $headerHeightMobile $paddingMobile * 2;
		background-color: $fourth;
		border-left: $border_heavy solid $secondary;
		z-index: 9995;
		transform: translateX(100%);

		&__mask {
			width: 100%;
			height: 100vh;
			display: none;
			visibility: hidden;
			top: 0;
			right: 0;
			position: fixed;
			background-color: rgba($secondary, 0.5);
			transform-origin: 100% 0;
			z-index: 9994;
		}

		&__menu {

			li {
				margin: 1rem 0;

				a {
					font-family: $heading-font;
					text-transform: uppercase;
				}

				&.active {

					a {
						color: $secondary;
					}
				}
			}
		}
	}

	@include grid-media($XXLarge) {

		&-mobile {
			display: none;
			visibility: hidden;
		}

		&-main {

			li {


				a {
					font-size: $font-size-base;
				}
			}
		}
	}

	@include grid-media($XLarge) {

		&-mobile {
			display: none;
			visibility: hidden;
		}
	}

	@include grid-media($Large) {

		&-mobile {
			display: none;
			visibility: hidden;
		}
	}

	@include grid-media($Medium) {

		&-mobile {
			display: none;
			visibility: hidden;
		}

		&-main {

			li {
				padding: 0.5rem 0.3rem 0;

				a {
					font-size: $font-size-base - 0.08;
				}
			}
		}
	}

	@include grid-media($XSmall) {

		&-mobile {
			width: calc(50% - (#{$paddingMobile} * 4));
			display: flex;
			visibility: visible;

			// &__mask {
			// 	display: block;
			// 	visibility: visible;
			// }
		}

		&-button {
			display: flex;
			visibility: visible;
		}
	}

	@include grid-media($Small) {

		&-mobile {
			width: calc(80% - (#{$paddingMobile} * 4));
			display: flex;
			visibility: visible;

			// &__mask {
			// 	display: block;
			// 	visibility: visible;
			// }
		}

		&-button {
			display: flex;
			visibility: visible;
		}
	}
}

/*=====  End of Nav Mobile  ======*/

