
/*============================
=            News            =
============================*/

.news-single {

    &__image {
		width: 100%;
		height: 10vw;
		display: block;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
			transition: transform $base-duration;
		}
    }

	&__title {
		width: calc(100% - 2rem);
		height: 4.5vw;
		display: flex;
		align-items: center;
		padding: 0 1rem;
		background-color: $primary;

		h4 {
			font-size: $font-size-base;
			padding-bottom: 0.3rem;
		}
	}

	&__text {
		width: calc(100% - 2rem);
		min-height: calc(7vw - 2rem);
		display: block;
		float: left;
		padding: 1rem;
		font-size: $font-size-small;
	}

	&__footer {
		width: 100%;
	}

	&__date {
		width: calc((100% - #{$newsLinkWidth}) - 2rem);
		padding: 0.5rem 1rem;
		float: left;
		background-color: $primary;
		font-size: $font-size-small;
		color: $secondary;
	}

	&__link {
		width: $newsLinkWidth;
		padding: 1.035rem 0;
		background-color: $navBackground;
		float: left;
		text-align: center;
		position: relative;
		// cursor: url('images/linkExpand.png') 18 18, pointer;

		&:before {
			content:"\f054";
			font-family: "fontawesome";
			// font-size: $font-size-large;
			color: $layoutBackground;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(90deg);
			transition: transform $base-duration;
		}

		// &:hover {

		// 	&:before {
		// 		transform: translate(0, -50%);
		// 	}
		// }
	}

	@include grid-media($XXLarge) {

		&__text {
			height: calc(6vw - 2rem);
			font-size: $font-size-large;
		}
	}

	@include grid-media($XLarge) {

		&__text {
			height: calc(6vw - 2rem);
			font-size: $font-size-base;
		}
	}

	@include grid-media($Large) {

		&__text {
			height: calc(6vw - 2rem);
			font-size: $font-size-small;
		}
	}

	@include grid-media($Medium) {

		&__title {
			padding: 1rem;
		}

		&__text {
			height: calc(9vw - 2rem);
			font-size: $font-size-small;
		}
	}

	@include grid-media($XSmall) {

		&__image {
			height: inherit;
		}

		&__title {
			padding: 1rem;
		}

		&__text {
			min-height: 3rem;
			height: initial;
			padding: 1rem;
		}
	}

	@include grid-media($Small) {

		&__image {
			height: calc(70vw - (#{$paddingMobile} * 2));
		}

		&__title {
			height: initial;
			min-height: 5vw;
			padding: 1rem;
		}

		&__text {
			min-height: 10vw;
			height: initial;
			padding: 1rem;
		}
	}
}

.news-content {


	&__date {
		// width: $marginVert * 3;
		height: $marginVert;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		// right: calc(((100% / 4) * 1) / 2);
		background-color: $gridderBackground;
		color: $gridderSVGColor;
		// top: $marginVert;
		// right: 0;
		// background-color: $secondary;
		// color: $primary;
		font-size: $font-size-small;
		padding: 0 calc(#{$marginVert} / 2);
	}

	&__title {
		width: 100%;
		display: block;
		// border-bottom: $border_thin solid $secondary;

		// h3 {
		// 	margin-top: 0;
		// 	// margin-bottom: 0.3rem;
		// }

		h3 {
			// border: 0;
			margin-bottom: 0;
		}
	}

	&__image {
		width: 50%;
		height: 60vh;
		display: block;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
		}
	}

	&__text {
		width: 100%;
		height: 100%;
		display: block;
		margin-top: 1rem;
		margin-bottom: $marginVert;
		// columns: 2;
		// column-gap: $marginVert;
		animation: fadeDown 0.5s ease-in-out;

		p {
			margin-top: 0;
		}

		ul {
			list-style: disc;
			padding-left: 1rem;
		}

		&-video {
			width: calc(50% - 0.5rem);
			height: inherit;
			display: none;
			float: left;
			margin-bottom: 1rem;
			margin-right: 0.5rem;
			overflow: hidden;

			iframe {
				width: 100%;
				// min-height: 30vh;
				min-height: calc(34vw/1.78);
				display: block;
			}

			&:nth-child(2n) {
				margin-right: 0;
				margin-left: 0.5rem;
			}

			&:nth-child(2n+1) {
				clear: left;
			}

			&--single {
				width: 60%;
				margin-right: 0;

				iframe {
					min-height: calc(42vw/1.78);
				}
			}
		}

		&-description {
			width: 100%;
			min-height: 5vh;
			display: block;
			float: left;
		}

		&-photo {

			picture {
				// width: 70%;
				width: calc(50% - 0.5rem);
				height: auto;
				display: block;
				float: left;
				position: relative;
				margin-bottom: 1rem;
				margin-right: 0.5rem;

				&:nth-child(2n) {
					margin-right: 0;
					margin-left: 0.5rem;
				}

				&:nth-child(2n+1) {
					clear: left;
				}

				img {
					width: 100%;
					height: auto;
					display: block;
					object-position: center;
					object-fit: cover;
				}
			}

			a {
				width: calc(50% - 0.5rem);
				height: auto;
				display: block;
				float: left;
				position: relative;
				margin-bottom: 1rem;
				margin-right: 0.5rem;

				&:nth-child(2n) {
					margin-right: 0;
					margin-left: 0.5rem;
				}

				&:nth-child(2n+1) {
					clear: left;
				}

				picture {
					width: 100%;
					height: auto;
					display: block;

					img {
						width: 100%;
						height: auto;
						display: block;
						object-position: center;
						object-fit: cover;
					}
				}
			}
		}

		&--video {

			.news-content__text-video {
				visibility: visible;
				display: block;
			}

			.news-content__text-description {
				width: 100%;
				min-height: 10vh;
				display: block;
				float: left;
			}

			.news-content__text-photo {
				visibility: hidden;
				display: none;
			}
		}

		&--photo {

			.news-content__text-video {
				visibility: hidden;
				display: none;
			}

			.news-content__text-description {
				width: 100%;
				min-height: 10vh;
				display: block;
				float: left;
			}

			.news-content__text-photo {
				visibility: visible;
				display: block;
			}
		}

		&--description {

			.news-content__text-video {
				visibility: hidden;
				display: none;
			}

			.news-content__text-photo {
				visibility: hidden;
				display: none;
			}
		}

		&--photoVideo {

			.news-content__text-description {
				width: 100%;
				min-height: 10vh;
				display: block;
				float: left;
			}

			.news-content__text-photo {
				visibility: visible;
				display: block;
			}

			.news-content__text-video {
				visibility: visible;
				display: block;
			}
		}
	}

	@include grid-media($Medium) {

		&__text {
			columns: 1;
		}
	}

	@include grid-media($XSmall) {

		&__text {

			&-video {
				width: 100%;

				iframe {
					min-height: calc((100vw - 2rem)/1.78);
				}

				&--single {
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}

	@include grid-media($Small) {

		&__text {

			&-photo {

				picture {
					width: 100%;

					&:nth-child(2n) {
						width: 100%;
					}
				}
			}

			&-video {
				width: 100%;
				margin-right: 0;

				iframe {
					min-height: calc((100vw - 2rem)/1.78);
				}

				&:nth-child(2n) {
					width: 100%;
					margin-left: 0;
				}

				&--single {
					width: 100%;
				}
			}
		}
	}
}

.calendar-content {
	display: flex;
	flex-direction: row;

	&__date {
		width: $marginVert * 3;
		height: $marginVert;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $gridderBackground;
		color: $secondary;
		font-size: $font-size-small;
	}

	&__text {
		height: 100%;
		display: block;
		// display: flex;
		// flex-direction: row;
		// columns: 1;
		// column-gap: 0;

		p {
			// width: calc((100% / 4) - (#{$marginVert} * 2));
			width: 100%;
			height: 100%;
			// display: flex;
			display: block;
			// margin: 0 0 0 $marginVert;
			// padding-right: $marginVert;
			// border-right: $border_normal solid $secondary;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				border-right: none;
			}
		}
	}
}

/*=====  End of News  ======*/

/*====================================
=            News Gridder            =
====================================*/


%gridder-arrow-before {
	content: "";
	width: 49px;
	height: 49px;
	display: block;
	background-size: cover;
	background-size: 50% 50%;
	top: 0;
	left: 0;
	padding: 12px;
	position: relative;
	z-index: 2;
	transition: all 0.3s;
}

%gridder-arrow-after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: lighten($secondary, 60%);
	z-index: 1;
	box-sizing: border-box;
	transition: transform 0.3s $ease-in-out-quad;
	transition-delay: 0.05s;
}

.projects {

	&-content {
		width: 100%;
		// min-height: 3rem;
		// transform: translateX(calc(25% - 1px));
	}

	&-gridder {
		// @include outer-container;
		// min-height: 100vh;
		display: block;
		//margin: 0;
		padding: 0;
	}
}

.gridder {

	&-list {
		//@include span-columns(4);
		//@include omega(3n);
		// @include rowMachine(4, 1px);
		// width: calc(100% / 4);
		// height: 25vh;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		// display: flex;
		// align-items: center;
		// flex-direction: column;
		// justify-content: center;
		position: relative;
		transition: 0.5s $ease-out-expo;
		cursor: pointer;
		// cursor: url('images/linkExpand.png') 18 18, pointer;

		.inside-description {
			$numPerRowText: 4;
			$marginText: 1%;
			width: 100%;
			height: 5rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// background-color: rgba(36,48,53,0.5);
			position: relative;
			padding: 0 1rem;
			box-sizing: border-box;
			transition: transform 0.4s $ease-out-expo;
			transition-delay: 0.25s;
			z-index: 10;

			h4 {
				// height: 30%;
				position: relative;
				color: #fff;
				text-align: center;
				margin: 0;
				// padding: 0 2rem;
				visibility: hidden;
				// z-index: 10;
				transition: transform 0.4s $ease-out-expo;
				transition-delay: 0.3s;
				transform: translateY(100%);
			}

			p {
				// height: 30%;
				position: relative;
				color: #fff;
				text-align: center;
				// margin: 0;
				// padding: 0 2rem;
				visibility: hidden;
				// z-index: 10;
				transition: transform 0.4s $ease-out-expo;
				transition-delay: 0.3s;
				transform: translateY(100%);
			}
		}

		&:hover {


			picture {

				img {
					transform: scale(1.05);
				}
			}
		}
	}

	&-show {
		width: 100%;
		display: block;
		float: left;
		position: relative;
		padding: 0;
		margin-bottom: $marginVert;
		overflow: hidden;

		// @include media($XSmall) {
		//     display: none !important;
		// }

		// @include media($Small) {
		//     display: none !important;
		// }
	}

	&-navigation {
		width: calc(((100% / 4) * 1) / 2);
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		flex-direction: row;
		background-color: $gridderBackground;
		transition: all 0.3s;
		z-index: 2;

		.gridder-nav {
			width: calc(100% / 3);
			height: 2rem;
			position: relative;
			// padding: 12px;
			//background-color: #fff;
			overflow: hidden;

			&.next {
				display: block;
				transition: all 0.3s;

				svg {
					width: 1rem;
					height: 1rem;
					fill: none;
					stroke: $gridderSVGColor;
					stroke-width: $gridderSVGWidth;
					top: 50%;
					left: 50%;
					margin-top: -0.5rem;
					margin-left: -0.5rem;
					position: absolute;
				}

				&::after {
					@extend %gridder-arrow-after;
					right: 100%;
					top: 0;
				}

				&:hover {
					transform: translateX(5px);

					svg {
						stroke: $gridderSVGColorHover;
					}
				}
			}

			&.prev {
				display: block;
				transition: all 0.3s;

				svg {
					width: 1rem;
					height: 1rem;
					fill: none;
					stroke: $gridderSVGColor;
					stroke-width: $gridderSVGWidth;
					top: 50%;
					left: 50%;
					margin-top: -0.5rem;
					margin-left: -0.5rem;
					position: absolute;
				}

				&::after {
					@extend %gridder-arrow-after;
					left: 100%;
					top: 0;
				}

				&:hover {
					transform: translateX(-5px);

					svg {
						stroke: $gridderSVGColorHover;
					}
				}
			}
		}

		.gridder-nav.background--light {
			border-color: #fff;
		}

		.gridder-nav.background--dark {
			border-color: $primary;
		}

		.gridder-nav.background--complex {
			border-color: lighten($primary, 50%);
		}

		.gridder-close {
			width: calc(100% / 3);
			height: 2rem;
			display: block;
			//padding: 14px;
			position: relative;
			//background-color: #fff;
			overflow: hidden;
			transition: all 0.3s;

			svg {
				width: 0.8rem;
				height: 0.8rem;
				fill: none;
				stroke: $gridderSVGColor;
				stroke-width: $gridderSVGWidth;
				top: 50%;
				left: 50%;
				margin-top: -0.4rem;
				margin-left: -0.4rem;
				position: absolute;
			}

			&::after {
				@extend %gridder-arrow-after;
				bottom: 100%;
				left: 0;
			}

			&:hover {
				transform: rotate(180deg);

				svg {
					stroke: $gridderSVGColorHover;
				}
			}
		}

		// @include media($XSmall) {
		//     display: none;
		// }

		// @include media($Small) {
		//     display: none;
		// }
	}

	&-content {
		display: none;
	}

	&-expanded-content {
		min-height: 20vh;
		animation-name: fadeIn;
		animation-duration: .5s;
		// animation-fill-mode: both;
		// display: flex;
		// flex-direction: row;
		padding: $marginVert 0 calc(#{$marginVert} / 2);
		border-top: $border_normal solid $secondary;
		border-bottom: $border_normal solid $secondary;
		overflow: auto;
	}

	// @include grid-media($XLarge) {

	// 	&-show {
	// 		width: calc((100% / 4) * 3);
	// 	}
	// }

	@include grid-media($Small) {

		&-navigation {
			width: calc((100% / 3) * 1);
		}
	}
}

@keyframes fadeDown {
	0% {
		opacity: 0;
		// transform: translateY(15%);
	}
	100% {
		opacity: 1;
		// transform: translateY(0);
	}
}

/*=====  End of News Gridder  ======*/

.all {

	&-hidden {
		display: none;
		visibility: hidden;
		// opacity: 0.1;
		// user-select: none;
	}
}