#v80MainContent {
    min-height: calc(100vmax * 1.35);
    position: relative;
    background-color: #ececed;
}

#v80mainContentTop {
    width: 100%;
    min-height: 10rem;
    display: block;
    position: relative;
    z-index: 5;
}

#v80ImageMother {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    // top: 5rem;
    left: 0;
    z-index: 0;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-position: top;
        object-fit: cover;
    }
}

#v80ImageLogo {
    width: auto;
    height: 15vmax;
    display: block;
    position: absolute;
    top: 5rem;
    left: 25vmax;
    z-index: 1;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-position: top;
        object-fit: cover;
    }
}

#v80ImageLentaVictory {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom: -3vmax;
    left: 0;
    overflow: hidden;
    z-index: 0;

    img {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        object-position: top;
        object-fit: cover;
    }
}

#v80TextTop {
    width: 32vmax;
    display: block;
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 3;

    p {
        font-size: 1.1vmax;
        line-height: 1.2;
        text-align: right;
        color: $third;

        strong {
            color: $third;
        }

        a {
            strong {
                color: $secondary;
            }
        }
    }
}

#v80mainContentMiddle {
    width: 100%;
    min-height: 10rem;
    display: block;
    position: relative;
    margin-top: 5rem;
    z-index: 5;
}

#v80TextMiddle {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;

    p {
        // font-size: 1.1vmax;
        // line-height: 1.2;
        text-align: left;
        color: $third;

        strong {
            color: $secondary;
        }
    }
}

#v80BrandBook {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-top: 3rem;
    left: 0;
    z-index: 5;
}

#v80BrandBookImage {
    width: 30%;
    height: auto;
    display: block;
    position: relative;
    float: left;
    margin: 0 2rem 2rem 0;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-position: top;
        object-fit: cover;
    }

    &:hover {
        box-shadow: 0 0 1rem rgba($secondary, 0.3);
    }
}

#v80BrandBookText {
    margin-bottom: 1rem;

    p {
        // font-size: 1.1vmax;
        // line-height: 1.2;
        //text-align: right;
        color: $third;

        &:first-child {
            margin-top: 0;
        }
    }
}

#v80mainContentBottom {
    width: 100%;
    min-height: 10rem;
    display: block;
    position: relative;
    margin-top: 3rem;
    z-index: 5;
}

#v80TextBottom {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;

    p {
        // font-size: 1.1vmax;
        // line-height: 1.2;
        text-align: left;
        color: $third;

        strong {
            color: $secondary;
        }
    }
}

.footer {

    &__top {
        width: 100%;
        min-height: 45vmax;
        display: block;
        position: relative;
        bottom: 0;
        right: 0;
        z-index: 10;

        &_main {
            width: 100%;
            min-height: 30vmin;
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            overflow: hidden;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                object-position: bottom;
                object-fit: cover;
            }
        }

        &_bottom {
            width: 100%;
            min-height: 20vmin;
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;

            svg {
                width: 100%;
                //height: 7rem;
                display: block;
                position: absolute;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                object-position: top;
                object-fit: fill;
            }
        }

        &_slogan {
            width: 35vmax;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            left: 4rem;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-position: top;
                object-fit: cover;
            }
        }
    }
}

// @include grid-media($XLarge) {

//     #v80MainContent {
//         min-height: calc(100vmax * 1.4);
//     }

//     #v80BrandBook {
//         width: 23vmax;
//         top: 49vmax;

//         p {
//             font-size: 1.1vmax;
//         }
//     }

//     #v80TextMiddle {
//         top: 65.3vmax;

//         p {
//             font-size: 1.1vmax;
//         }
//     }
// }

// @include grid-media($Large) {

//     #v80BrandBook {
//         width: 23vmax;
//         top: 47vmax;

//         p {
//             font-size: 1.1vmax;
//         }
//     }
// }

// @include grid-media($Medium) {

//     #v80MainContent {
//         min-height: calc(100vmax * 1.43);
//     }

//     #v80ImageLogo {
//         left: 29vmax;
//     }

//     #v80TextTop {
//         width: 30vmax;

//         p {
//             font-size: 1.2vmax;
//         }
//     }

//     #v80BrandBook {
//         width: 23vmax;
//         top: 53vmax;

//         p {
//             font-size: 1.2vmax;
//         }
//     }

//     #v80BrandBookImage {
//         width: 100%;
//     }

//     #v80ImageLentaVictory {
//         top: 53vmax;
//     }

//     #v80TextMiddle {
//         width: 40vmax;
//         top: 69.5vmax;

//         p {
//             font-size: 1.2vmax;
//         }
//     }

//     #v80TextBottom {
//         top: 94vmax;

//         p {
//             font-size: 1.2vmax;
//         }
//     }

//     .footer {

//         &__top {
//             bottom: 0;
//             z-index: 10;

//             &_bottom {
//                 height: 15vmax;
//             }
//         }
//     }
// }

// @include grid-media($XSmall) {

//     #v80MainContent {
//         min-height: calc(100vmax * 1.75);
//     }

//     #v80ImageLentaVictory {
//         top: 66vmax;
//     }

//     #v80TextTop {
//         width: 40%;

//         p {
//             font-size: $font-size-base;
//         }

//         img {
//             margin-bottom: 1rem;
//         }
//     }

//     #v80ImageLogo {
//         left: 40vmax;
//     }

//     #v80BrandBook {
//         width: 28vmax;
//         top: 65vmax;

//         &Image {
//             width: 100%;
//         }

//         p {
//             font-size: $font-size-base;
//         }
//     }

//     #v80TextMiddle {
//         top: 85vmax;

//         p {
//             font-size: $font-size-base;
//         }
//     }

//     #v80TextBottom {
//         top: 115vmax;

//         p {
//             font-size: $font-size-base;
//         }
//     }

//     .footer {

//         &__top {
//             bottom: 0;
//             z-index: 10;

//             &_bottom {
//                 height: 18vmax;
//             }
//         }
//     }
// }

// @include grid-media($XSmallV) {

//     #v80MainContent {
//         min-height: calc(100vmax * 1.42);

//         p {
//             font-size: $font-size-small !important;
//         }
//     }

//     #v80TextTop {
//         width: 42%;
//         top: 7rem;
//         right: 2rem;

//         img {
//             margin-bottom: 1rem;
//         }

//         p {
//             font-size: $font-size-small;
//         }
//     }

//     #v80BrandBook {
//         top: 70vmin;
//         right: 2rem;
//     }

//     #v80TextMiddle {
//         top: 91vmin;
//     }

//     #v80TextBottom {
//         top: 125vmin;
//     }

//     #v80TextBottom {
//         width: 39%;
//     }

//     .footer {

//         &__top {
//             bottom: 0;
//             z-index: 10;

//             &_bottom {
//                 height: 18vmin;
//             }
//         }
//     }
// }

@include grid-media($Small) {

    #v80MainContent {
        min-height: 100vmin;
    }

    .footer {

        &__top {
            float: left;

            // &_bottom {
            //     height: 45vmin;
            //     position: relative;
            // }

            &_slogan {
                left: 1rem;
            }

            // img {
            //     width: 150%;
            //     left: -50%;
            // }
        }
    }

    #v80ImageLentaVictory {
        bottom: initial;
        top: 28.7vmax;
        z-index: 5;
    }

    #v80TextTop {
        width: 100%;
        position: relative;
        top: initial;
        right: initial;

        img {
            margin-bottom: 3rem;
        }

        p {
            font-size: $font-size-large;
            line-height: 1.2;
        }
    }

    #v80mainContentMiddle {
        margin-top: 0;
    }

    #v80BrandBookImage {
        width: 100%;
        margin-bottom: 2rem;
    }

    #v80mainContentBottom {
        margin-top: 0;
        margin-bottom: 0;
    }
}