/*===============================
=            Section            =
===============================*/

.section {
    width: 100%;
    min-height: 100vh;
    position: relative;

    &-title {
        display: inline-block;
        border-bottom: $border_normal solid $secondary;
    }

    &-hero {
        height: calc(100vh - #{$headerHeightDoubleDesktop});
        min-height: initial;
        padding-top: $headerHeightDoubleDesktop;
        overflow: hidden;

        &__gallery {
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba($third, 0.3);
        }

        &__title {
            width: calc((100% / 2) - (#{$paddingHorz} * 2) - (#{$border_heavy} * 2));
            min-height: 5rem;
            padding: $paddingVert $paddingHorz;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $fourth;
            border-left: $border_heavy solid $secondary;
            border-right: $border_heavy solid $secondary;
            z-index: 10;

            h1 {
                margin-top: 0;
            }
        }

        &__mask {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            li {
                width: calc(100% / 2);
                height: 100%;
                display: block;
                background-color: $layoutBackground;
                // transition: transform 1s cubic-bezier(.4, 0, .2, 1);

                &:first-child {
                    left: 0;
                    transform-origin: 0 0;
                }

                &:last-child {
                    right: 0;
                    transform-origin: 100% 0;
                }
            }
        }
    }

    &-info {
        display: flex;
        flex-direction: row;

        &__about {
            width: calc((100% / 2) - (#{$paddingHorz} * 2) - (#{$border_heavy} * 2));
            position: relative;
            padding: $paddingVert $paddingHorz;
            border-left: $border_heavy solid $secondary;
            border-right: $border_heavy solid $secondary;
            background-color: $sectionHalfBackground;
            // float: left;

            h3 {
                color: $fourth;
            }

            p {
                color: $fourth;
            }
        }

        &__news {
            width: calc((100% / 2) - (#{$paddingHorz} * 2));
            position: relative;
            padding: $paddingVert $paddingHorz;
            background-color: $layoutBackground;
            // float: left;

            &-block {
                width: calc(50% - (#{$paddingHorz} / 2));
                min-height: 2rem;
                padding-bottom: 0.5rem;
                margin-right: $paddingHorz / 2;
                margin-bottom: $paddingVert;
                border-bottom: $border_thin solid $secondary;

                &:nth-child(2n) {
                    width: calc(50% - (#{$paddingHorz} / 2));
                    margin-left: $paddingHorz / 2;
                    margin-right: 0;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
            }

            &-date {
                font-size: $font-size-small;
                color: $secondary;
            }
        }

        &__links {
            width: 100%;
            margin-top: $paddingVert;

            a {
                width: 100%;
                min-height: 2rem;
                display: block;
                position: relative;
                padding: 0.5rem 0;
                border-top: $border_thin solid $secondary;
                font-family: $heading-font;
                font-size: $font-size-large;
                font-weight: 400;
                color: $fourth;
                transition: all 0.3s;

                &:last-child {
                    border-bottom: $border_thin solid $secondary;
                }

                &:hover {
                    color: $secondary;

                    &:after {
                        color: $secondary;
                        transform: translate(30%, -50%);
                    }
                }

                &:after {
                    content: "\ea3c";
                    font-family: 'icomoon';
                    color: $fourth;
                    width: 2rem;
                    height: 2rem;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 55%;
                    transform: translateY(-50%);
                    transition: all 0.3s;
                }
            }
        }
    }

    &-certificate {
        min-height: 50vh;
        display: flex;
        flex-direction: row;

        &__cert {
            width: calc((100% / 2) - (#{$paddingHorz} * 2) - (#{$border_heavy} * 2));
            position: relative;
            padding: $paddingVert $paddingHorz;
            border-left: $border_heavy solid $secondary;
            border-right: $border_heavy solid $secondary;
            background-color: $layoutBackground;
        }

        &__gallery {
            // min-height: 50vh;
            display: block;
            margin: 0;
            padding: $paddingVert 0;
            font-size: 0;
            list-style: none;

            figure {
                @include rowMachine(4, 1%);
                // min-height: 175px;
                display: inline-block;
                overflow: hidden;
                padding: 0;
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                margin-inline-end: 0;
                position: relative;
                // transition: all 0.3s;
                cursor: pointer;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            figcaption {
                display: none;
            }

            &:hover {

                figure:not(:hover) {
                    filter: grayscale(1);
                }
            }
        }

        &__letters {
            width: calc((100% / 2) - (#{$paddingHorz} * 2));
            position: relative;
            padding: $paddingVert $paddingHorz;
            background-color: $sectionHalfBackground;

            h3 {
                color: $fourth;
            }
        }
    }

    &-partners {
        width: calc(100% - (#{$paddingHorz} * 2));
        min-height: calc(50vh - (#{$paddingVert} * 2));
        padding: $paddingVert $paddingHorz;
        border-top: 1rem solid $secondary;
        border-bottom: 1rem solid $secondary;
        // background-color: $fourth;

        &__wrapper {
            width: 100%;
            min-height: 3rem;
            display: flex;
            flex-wrap: wrap;
            padding: $paddingVert 0;
        }

        &__link {
            width: calc((100% - ((#{$partnersGrid} - 1) * #{$partnersMargin})) / #{$partnersGrid});
            height: calc((100% - ((#{$partnersGrid} - 1) * #{$partnersMargin})) / #{$partnersGrid});
            margin-right: $partnersMargin;
            margin-bottom: $partnersMargin;
            overflow: hidden;
            position: relative;
            transition: all 0.3s;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            &:nth-of-type(#{$partnersGrid}n) {
                margin-right: 0;
            }

            &:before,
            &:after {
                content: "";
                width: 50%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                background-color: $fourth;
                z-index: -1;
                box-sizing: border-box;
                transition: transform 0.4s cubic-bezier(.4, 0, .2, 1);
            }

            &:before {
                left: 0;
                transform: translateX(-102%);
            }

            &:after {
                right: 0;
                transform: translateX(102%);
            }

            &:hover {

                &:before,
                &:after {
                    transform: translateX(0);
                }
            }
        }
    }

    @include grid-media($Small) {

        &-hero {
            height: calc(100vh - #{$headerHeightMobile});
            padding-top: $headerHeightMobile;
            z-index: 1;

            &__title {
                width: calc(100% - (#{$paddingMobile} * 2));
                min-height: calc(50% - (#{$paddingMobile} * 2) - #{$border_heavy});
                padding: $paddingMobile;
                border-left: none;
                border-right: none;
                border-top: $border_heavy solid $secondary;
                background-color: rgba($fourth, 0.7);
            }
        }

        &-info {
            flex-direction: column;
            z-index: 2;

            &__about {
                width: calc(100% - (#{$paddingMobile} * 2));
                padding: $paddingMobile $paddingMobile ($paddingMobile * 2);
                border-left: none;
                border-right: none;
                border-bottom: $border_heavy solid $secondary;
            }

            &__news {
                width: calc(100% - (#{$paddingMobile} * 2));
                padding: $paddingMobile $paddingMobile ($paddingMobile * 2);

                &-block {
                    width: 100%;
                    margin-right: 0;

                    &:nth-child(2n) {
                        width: 100%;
                        margin-left: 0;
                    }
                }

                &-date {
                    font-size: $font-size-base;
                }
            }
        }

        &-certificate {
            flex-direction: column;
            z-index: 3;

            &__cert {
                width: calc(100% - (#{$paddingMobile} * 2));
                padding: $paddingMobile $paddingMobile ($paddingMobile * 2);
                border-left: none;
                border-right: none;
                border-bottom: $border_heavy solid $secondary;
                background-color: $sectionHalfBackground;

                h3 {
                    color: $fourth;
                }
            }

            &__gallery {

                figure {
                    @include rowMachine(2, 5%);
                }
            }

            &__letters {
                width: calc(100% - (#{$paddingMobile} * 2));
                padding: $paddingMobile $paddingMobile ($paddingMobile * 2);
                background-color: $fourth;

                h3 {
                    color: $secondary;
                }
            }
        }

        &-partners {
            width: calc(100% - (#{$paddingMobile} * 2));
            padding: $paddingMobile $paddingMobile ($paddingMobile * 2);
            border-top: $border_heavy solid $secondary;
            border-bottom: $border_heavy solid $secondary;
            z-index: 4;

            &__link {
                width: calc((100% - ((#{$partnersGridMobile} - 1) * #{$partnersMarginMobile})) / #{$partnersGridMobile});
                height: calc((100% - ((#{$partnersGridMobile} - 1) * #{$partnersMarginMobile})) / #{$partnersGridMobile});
                margin-right: $partnersMarginMobile;
                margin-bottom: $partnersMarginMobile;

                &:nth-of-type(#{$partnersGridMobile}n) {
                    margin-right: 0;
                }
            }
        }
    }
}



/*=====  End of Section  ======*/