// Version: 2.9.3

.tns-outer {
    padding: 0 !important; // remove padding: clientWidth = width + padding (0) = width

    [hidden] {
        display: none !important;
    }
    [aria-controls], [data-action] {
        cursor: pointer;
    }

    [data-action="stop"],
    [data-action="start"] {
        display: none;
        visibility: hidden;
    }

    [data-controls="prev"] {
        width: 2rem;
        height: 2rem;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        left: 0;
        // background: url('images/controls.png') no-repeat 0 -32px;
        background: url('images/bx_prev.svg') no-repeat 50% 50%;
        background-size: 60% 60%;
        background-color: $secondary;
        border: none;
        outline: none;
        opacity: 0;
    }

    [data-controls="next"] {
        width: 2rem;
        height: 2rem;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        // background: url('images/controls.png') no-repeat 0 -32px;
        background: url('images/bx_next.svg') no-repeat 50% 50%;
        background-size: 60% 60%;
        background-color: $secondary;
        border: none;
        outline: none;
        opacity: 0;
    }

    &:hover {
        [data-controls="prev"],
        [data-controls="next"] {
            opacity: 1;
        }
    }

    @include grid-media($Small) {
        [data-controls="prev"],
        [data-controls="next"] {
            display: none;
            visibility: hidden;
        }
    }
}

#sliderIntro-ow {
    width: calc((100% / 12) * 8);
    height: 27.5vw;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;

    @include grid-media($XSmall) {
        width: 100%;
        height: auto;
        margin-bottom: $marginVert;
    }

    @include grid-media($Small) {
        width: 100%;
        height: auto;
    }
}

// #galleryAnniversary-ow {
//     width: calc(((100% / 12) * 4) - #{$marginVert});
//     height: 100%;
//     display: block;
//     float: left;
//     background-color: $primary;
//     margin-left: $marginVert;
// }

.tns-slider {
    transition: all 0s;

    > .tns-item {
        box-sizing: border-box;
    }
}

.tns-controls {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.tns-nav {
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 1;

    > button {
        width: 1rem;
        height: $border_bold;
        background-color: $fourth;
        border: none;
        outline: none;
        margin-right: 0.3rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &-active {
        background-color: $secondary !important;
    }
}

.tns-visually-hidden {
    display: none;
    visibility: hidden;
}

.tns-item {
  height: 100%;
}

.tns-horizontal {
  &.tns-subpixel {
    white-space: nowrap;
    > .tns-item {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
    }
  }
  &.tns-no-subpixel {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    > .tns-item {
      float: left;
    }
  }
  &.tns-carousel {
    &.tns-no-subpixel {
      > .tns-item {
        margin-right: -100%;
      }
    }
  }
}
.tns-no-calc {
  position: relative;
  left: 0;
}
.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px; // make sure slider container is visible
  // overflow: hidden;
  > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
  }
  > .tns-slide-active {
    position: relative;
    left: auto !important;
  }
  > .tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
}
.tns-autowidth { display: inline-block; }
.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
  &.tns-complete { opacity: 1; }
}
.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}
.tns-ovh { overflow: hidden; }
.tns-visually-hidden { position: absolute; left: -10000em; }
.tns-transparent { opacity: 0; visibility: hidden; }

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}
.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}


// *** Fix a viewport issue in initialization
.tns-vpfix {
  white-space: nowrap;
  > div, > li {
    display: inline-block;
  }
}

// *** Detecting browser capability ***
$width: 310px;
$height: 10px;
$count: 70;
$perpage: 3;

.tns-t {
  &-subp2 {
    margin: 0 auto;
    width: $width;
    position: relative;
    height: $height;
    overflow: hidden;
  }
  &-ct {
    width: calc(100% * $count / $perpage);
    width: -webkit-calc(100% * #{$count} / #{$perpage});
    width: -moz-calc(100% * #{$count} / #{$perpage});
    width: calc(100% * #{$count} / #{$perpage});
    position: absolute;
    right: 0;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    > div {
      width: calc(100% / $count);
      width: -webkit-calc(100% / #{$count});
      width: -moz-calc(100% / #{$count});
      width: calc(100% / #{$count});
      height: $height;
      float: left;
    }
  }
}
