@use "fonts" as *;
@use "sass:color";
@use "breakpoints" as bp;
@use "variables" as *;

.retail {
    &__content {
        width: 100%;
        min-height: 80vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: stretch;
        flex-grow: 1;
        // flex-shrink: 1;
        justify-content: space-between;
        position: relative;
        gap: $marginVert;
    }

    &__block {
        width: calc((100% / 5) - (#{$marginVert} * 1));
        height: auto;
        // flex-basis: calc((100% / 5));
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // flex-basis: content;
        flex-grow: 1;
        // background-color: var(--secondary-lighten-95);
        border: $border_thin solid var(--seven);
        // padding: calc(#{$marginVert} / 2);
        // margin-right: 1rem;

        &_image {
            width: 100%;
            height: 65%;
            display: block;
            position: relative;
            // aspect-ratio: 3 / 4;
            // background-color: var(--seven);

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                object-fit: cover;
                object-position: top;
            }
        }

        &_info {
            width: calc(100% - #{$marginVert});
            height: calc(20% - #{$marginVert});
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            padding: calc(#{$marginVert} / 2);
            // margin-top: calc(#{$marginVert} / 2);
            // margin-bottom: calc(#{$marginVert} / 2);
        }

        &_title {
            width: 100%;
            height: calc(#{$marginVert} * 2);
            display: inline-flex;
            margin-top: calc(#{$marginVert} / 2);
        }

        &_footer {
            width: 100%;
            height: 15%;
            // margin-top: calc(#{$marginVert} / 2);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_button {
            width: calc(100% - #{$marginVert});
            height: calc(100% - #{$marginVert});
            // margin-top: calc(#{$marginVert} / 2);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--seven);
            color: var(--fourth);
            border: none;
            font-size: var(--font-size-base);
            text-align: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: var(--seven-darken-10);
            }
        }
    }

    @include bp.media-up(XXLarge) {
        &__block {
            width: calc((100% / 7));
            // flex-basis: calc((100% / 7));
        }
    }

    @include bp.media-up(XLarge) {
        &__block {
            width: calc((100% / 6));
            // flex-basis: calc((100% / 7));
        }
    }

    // @include bp.media-up(XLarge) {
    //     &__block {
    //         width: calc((100% / 6));
    //         // flex-basis: calc((100% / 6));
    //     }
    // }

    // @include bp.media-up(Large) {
    //     &__block {
    //         width: calc((100% / 5));
    //         // flex-basis: calc((100% / 5));
    //     }
    // }

    // @include bp.media-up(Medium) {
    //     &__block {
    //         width: calc((100% / 4));
    //         // flex-basis: calc((100% / 5));
    //     }
    // }

    // @include bp.media-up(XSmall) {
    //     &__block {
    //         width: calc((100% / 4));
    //         // flex-basis: calc((100% / 4));
    //     }
    // }
}
